html, body {
    height: 100%;
    margin: 0;
}

/* 画板——工作区域 */
.artboard {
    height: 100%;
    width: 100%;
}

.toolbar {
    position: fixed;
    width: 200px;
    height: 30px;
    border-radius: 15px;
    background-color: #111A22;
}

.toolbtn {
    padding: 5px 2px;
    width: 20px;
    height: 20px;
    background-color: white;
}

.toolbtn.move {
    
}

.toolbtn.text {

}

.nodeinput:focus {
    outline:none; /*移除浏览器默认的聚焦高亮*/
}

.nodeinput-container:hover {
    cursor: text;
}

/*控制单行样式*/
[contenteditable="true"].single-line {
    white-space: nowrap;
    overflow: hidden;
} 
[contenteditable="true"].single-line br {
    display:none;

}
[contenteditable="true"].single-line * {
    display:inline;
    white-space:nowrap;
}

.artboardsvg {

}

.artboart-text:hover {
    cursor: move;
}