html, body {
    height: 100%;
    margin: 0;
}

/* 画板——工作区域 */
.artboard {
    height: 100%;
    width: 100%;
}

.toolbar {
    position: fixed;
    width: 200px;
    height: 30px;
    border-radius: 15px;
    background-color: #111A22;
}

.toolbtn {
    width: 20px;
    height: 20px;
    background-color: white;
}

.toolbtn.move {

}

.toolbtn.text {

}